* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  transition: all 0.5s ease-in-out;
}

.gallery__img {
  overflow: hidden;
}

.gallery__img:hover img {
  transform: scale(1.5);
}
